.sidebar-search{
  display: flex;
  max-width: 240px;
  width: 100%;
}
.search-input{
  border: none;
  font: 400 14px/23.8px Raleway;
  border-bottom: 1px solid rgb(68, 68, 68, 0.2) ;
  width: 100%;
}
.search-btn{
 background: white;
 border: none;
 border-bottom: 1px solid rgb(68, 68, 68, 0.2) ;
 cursor: pointer;
}