.product{
  max-width: 262px;
  width: 100%;
  box-sizing: border-box;
}
.product-img{
  max-width: 262px;
}
.product-wrap{
  position: relative;
}
.sale-label, .new-label{
  max-width: 45px;
  padding: 5px 10px;
  box-sizing: border-box;
  position: absolute;
  left: 20px;
  top: 17px;
  color: white;
  font: 800 10px Raleway;
}
.sale-label{
  background-color: rgb(255, 142, 142);
}
.new-label{
  background-color: rgb(149, 204, 181);
}

.product-name{
  font: 400 16px/170% Raleway;
  letter-spacing: 0%;
  text-align: left;
  color: rgb(68, 68, 68);
}
.product-price{
  font: 400 20px/100% Josefin Sans;
  letter-spacing: 0%;
  text-align: left;
  text-transform: capitalize;
  color: rgb(0, 0, 0);
}
.product-oldPrice{
  font: 300 16px/100% Josefin Sans;
  letter-spacing: 0%;
  text-align: left;
  text-decoration-line: line-through;
  text-transform: capitalize;
}
.price-wrap{
  display: flex;
  gap: 16px;
  align-items: center;
  margin-top: 10px;
}

.buy-btn{
  display: flex;
  border: none;
  padding: 10px 20px;
  background: black;
  color: white;
  margin-top: 10px;
  cursor: pointer;

}

.buy-btn:hover{
  background-color: rgb(40, 41, 42);
}