.last-product-card{
  max-width: 240px;
  width: 100%;
  display: flex;
}
.last-products{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.last-product-card > img{
  width: 75px;
  height: 85px;
}
.last-prod-info{
  align-self: center;
}
.last-prod-name{
  font: 400 14px/140% Raleway;
  color: rgb(68, 68, 68);
}
.last-prod-price{
  font: 400 14px/100% Josefin Sans;
  color: black;
}
.last-prod-oldPrice{
  font: 300 12px/100% Josefin Sans;
  text-decoration: line-through;
  color: rgb(68, 68, 68) ;
}