.ctg-list{
  list-style-type: square;
  list-style-position: inside;
  padding: 15px;
  text-align: left;
}
.ctg-link{
  font: 400 16px/170% Raleway;
  display: contents;
}

.categories{
  display: flex;
  flex-direction: column;
}