.App {
  text-align: center;
}
*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-family: "Raleway", sans-serif;
}
.container{
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
.nav-link{
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #444444;
}
.cart{
  width: 500px;
  border: 1px solid black;
  background-color: gray;
}

