.sidebar-title{
  font: 400 24px/180% Josefin Sans;
  border-bottom: 2px solid black;
  text-align: left;
}
.sidebar{
  display: flex;
  flex-direction: column;
  gap: 50px;
  max-width: 245px;
  width: 100%;
}